solnce
solnce.exe
assets
imgui.ini
solnce.zip

/*.xml
/*.json

*.a
*.o
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Makefile
.vscode/**/*
!.vscode/c_cpp_properties.json
!.vscode/tasks.json
build
